<div class="container-fluid" dir="rtl">

    <div class="row">
        <div class="col-xs-3">
            <p>
                inner-menu works!
            </p>


            <!-- <ul class="list-group">
                <li class="list-group-item" *ngFor="let item of mainMenuItem.children">
                    <a *ngIf="item.moduleName" routerLink="{{item.moduleName}}">{{item.desc}}</a>
                    <span *ngIf="!item.moduleName"><b>{{item.desc}}</b></span>
                    <ul *ngIf="item.children.length > 0">
                        <li class="list-group-item" *ngFor="let child of item.children">
                            <a routerLink="{{child.moduleName}}">{{child.desc}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div> -->



        <div *ngFor="let item of mainMenuItem.children">
          <div class="list-group-item parent">
              <a *ngIf="item.moduleName" routerLink="{{item.moduleName}}">{{item.desc}}</a>
              <span *ngIf="!item.moduleName"><b>{{item.desc}}</b></span>
          </div>
          <div class="list-group-item child" *ngFor="let child of item.children" [hidden]="">
              <a routerLink="{{child.moduleName}}">{{child.desc}}</a>
          </div> 
        </div>

    </div>

    <div class="col-xs-9 container" dir="ltr">
        <router-outlet></router-outlet>
    </div>




</div>