.rtl .ui-table-scrollable-header-box {
    margin-right: 0 !important;
    margin-left: 17px !important;
}

.no-stripes .ui-table .ui-table-tbody > tr:nth-child(even){
    background-color: transparent;
}
